.input{
    display: flex;
    width: 60%;
    position: relative;
    align-items: center;
}

.input__box{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input__box:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_submit{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover{
    background-color: #388ae2;
}

.input_submit:active{
    transform: scale(0.9);
    box-shadow: 0 0 5px black;
}

.todos{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.todos_cards{
    display: flex;
    width: 29.5%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    background-color: burlywood;
}

.todos_cards-text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todos_cards-text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 15px;
}

.todos_cards-text:focus{
    outline: none;
}

.icons{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 1200px){
    .todos_cards{
        width: 40%;
    }
}

@media (max-width: 700px){
    .input{
        width: 80%;
    }
    .todos{
        width: 95%;
    
    }
    .todos_cards{
        width: 80%;
    }
}