@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
}

.heading{
  font-size: 40px;
  margin: 40px 0;
  color: white;
  z-index: 1;
  text-align: center;
  font-family: "Ephesis",cursive;
}

@media (max-width: 800px){
  .heading{
    margin: 15px 0;
    font-size: 35px;
  }
}